body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login .form-group {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
  text-align: center !important;
  margin-left: 2%;
}
.login .quality__btn {
  margin-top: 0px;
  margin-left: 2%;
}
.login .input-group-text {
  color: white !important;
  background-color: #5a49ce !important;
}
.emplist .btn {
  min-width: 158px;
    height: 43px;
    padding: 0 12px;
    border-radius: 16px/16px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 700;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    margin-top: -14px;
}
.react-calendar{
  border: none !important;
}
.asheet .widget{
  padding:14px;
  padding-bottom: 30px;
}
.asheet .details__col:first-child {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  padding-right: 0px;
}
.asheet .icon {
  color: rgb(108, 93, 211);
    margin-right: 20px;
}
.cmg .imcontain{
  margin:auto;
}
.cmg .imgst{
  margin-left: 32%;
}
.cmg .imtxt {
  margin-left: 50%;
  color:#6c5dd3;
  margin-top: -80px;
}
.emplist .products__cell:first-child {
  width: 20%;
}
.emplist .products__row_head .products__cell {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.38462;
  font-weight: 500;
  color: #696a71;
}
.asheet .page__col {
  padding:10px;
  padding-right:20px;
}
.mobcalendar {
  display:none;
}
.toolbar {
  display:none !important;
}
#lottie-controls {
  display:none !important
}
.tabs_Container {
  display: flex;
  margin-top: 20px;
  /* border:1px solid grey; */
  padding:1px;
  align-items: center;
  padding-left: 16%;
  padding-top: 2%;
  padding-bottom: 0px;
}
.tab {
  width:50%;
  margin-top: 10px;
  /* text-decoration: underline; */
  
}
@media only screen and (max-width: 768px) { 
  .cmg .imcontain {
    margin-top: 30%;

  }
  .cmg .imgst {
    margin-left: 0%;
  }
  .cmg .imtxt{
    margin-left: 0%;
    text-align: center;
    color: #6c5dd3;
    margin-top: -50px;
  }
  .emplist .products__table {
    margin-top: 0px !important;
  }
  .products__cell:first-child {
    width: 36% !important;
  }
  .products__row.products__row_head {
    display:none
  }
  .page__content_pt64 {
    padding-top: 0px !important;
    border: none !important;
  }
  .emplist .products__more {
    padding:4px 24px 0px !important;
  }
  .sidebar{
    transform:none !important;
    width: 100% !important;
    padding-top: 10px !important;
  }
  .sidebar__item{
    padding:12px !important;
    border-bottom: 1px solid grey;
    border-radius: 0px;
  }
  .mobsid {
    display: none;
  }
  .deskcalendar {
    display:none;
  }
  .mobcalendar {
    display:block !important;
    text-align: center;
  }
  .react-datepicker-wrapper {
    border: 1px solid grey !important;
    width: 60% !important;
    height: 36px;
    border-radius: 10px;
  }
  .asheet input[type="text"], input[type="email"], input[type="tel"], textarea {
    -webkit-appearance: none;
    font-size: 18px;
}
}